<!doctype html>
<html amp lang="en">

<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>{{ page.title }}</title>
    <link rel="canonical" href="{{ page.url | absolute_url | replace:'index.html',''}}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "headline": {{ page.title }},
            "datePublished": {{ page.date }},
            "image": null
        }
    </script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
        {% include cayman-custom.css %}
    </style>
    <meta name="google-site-verification" content="vBnHAm0vNC_bes2_JjpVj840ZGxloOZX5TZWV0XSS6s" />
</head>

<body>
    <section class="page-header">
      <h1 class="project-name">{{ page.title }}</h1>
      <h2 class="project-tagline"></h2>
    </section>
    
    <section class="main-content">
        {{ content }}
    </section>
    <footer>
    </footer>
</body>

</html>
